@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-koho: var(--font-koho);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* styles/globals.css */

.marquee-slider {
  outline: none;
}

.marquee-slider:hover .b-slider__ref {
  filter: grayscale(100%) contrast(0%) ;
  transition: filter 0.3s ease;
}

.b-slider__ref:hover {
  filter: none !important;
}

@media screen and (max-width: 767px) {
  .b-slider__slide {
    width: 220px !important; /* Adjusted for mobile */
  }
}

@media screen and (max-width: 556px) {
  .b-slider__slide {
    width: 180px !important; /* Further adjusted for smaller screens */
  }
}

.flickity-viewport {
  width: 100%;
}